@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Sono:wght,MONO@200..800,1&display=swap');
:root {
  /* spacing (base 8) */
  --space-1: 0.3rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --space-7: 4rem;
  
  /* font-size (base 4) */
  --fs-1: 0.8rem;
  --fs-2: 1rem;
  --fs-3: 1.3rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
  --fs-6: 3rem;
  --fs-7: 3rem;

  /* radius (base 8) */
  --radius-1: 0.5rem;
  --radius-2: 1rem;
  --radius-3: 1.5rem;
  --radius-4: 2rem;
  --radius-5: 3rem;

  --pry-clr: #1908ba;
  --pry-clr-fade: #200AEB;

  --sec-clr: #a9ba08;
  --sec-clr-fade: #D5EB0A;

  --light-clr: #f3f3f3;
  --dark-clr: #181818;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  background-color: #fffffc;
  color: #333;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Anybody", sans-serif;
}
p, li, span {
  font-family: "Epilogue", sans-serif;
}
a, button {
  font-family: "Sono", monospace;
  font-variation-settings: "MONO" 1;
}