@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Sono:wght,MONO@200..800,1&display=swap');
:root {
  /* spacing (base 8) */
  --space-1: 0.3rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --space-7: 4rem;
  
  /* font-size (base 4) */
  --fs-1: 0.8rem;
  --fs-2: 1rem;
  --fs-3: 1.3rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
  --fs-6: 3rem;

  /* radius (base 8) */
  --radius-1: 0.5rem;
  --radius-2: 1rem;
  --radius-3: 1.5rem;
  --radius-4: 2rem;
  --radius-5: 3rem;

  --pry-clr: #1908ba;
  --pry-clr-fade: #331ef3;

  --sec-clr: #a9ba08;
  --sec-clr-fade: #D5EB0A;

  --light-clr: #f3f3f3;
  --dark-clr: #181818;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body, html {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  background-color: #fffffc;
  color: #333;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Anybody", sans-serif;
}
p, li, span {
  font-family: "Epilogue", sans-serif;
}
a, button {
  font-family: "Sono", monospace;
  font-variation-settings: "MONO" 1;
}
.web-container {
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
}
.header-inner,
.main-inner,
.footer-inner {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 var(--space-2);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-1) var(--space-4);
  border-bottom: 1px solid lightgrey;
}
.logo-cont a {
  font-size: var(--fs-5);
  font-weight: 600;
  color: var(--pry-clr);
}
button.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.bar {
  width: 35px;
  height: 5px;
  background-color: var(--pry-clr);
  border-radius: 1rem;
  transition: transform 0.4s ease, border-radius 0.2s ease;
}
.nav-desktop {
  display: none;
}

.profile-cont {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
.profile__avatar {
  position: relative;
  display: flex;
  max-width: 100%;
  height: 225px;
  background: var(--pry-clr);
  overflow: hidden;
  border-radius: 10px 10px 50px 50px;
}
.profile__avatar div {
  position: absolute;
  color: var(--light-clr);
}
.followers {
  font-size: var(--fs-5);
  right: 40%;
  top: 30%;
  transform: rotate(-25deg);
}
.likes {
  font-size: var(--fs-3);
  right: 30%;
  bottom: 10%;
  transform: rotate(25deg);
}
.views {
  font-size: var(--fs-4);
  right: 10%;
  bottom: 40%;
  transform: rotate(-45deg);
}
.profile__avatar img {
  width: 100%;
  max-width: 170px;
  height: auto;
  object-fit: cover;
}
.profile__bio {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  padding: 0 var(--space-3);
}
.bio-intro {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 1.2;
}
.bio-intro::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  left: -10px;
  border-radius: 20px;
  background-color: var(--pry-clr);
}
.bio-intro h1 {
  font-size: var(--fs-6);
  font-weight: 700;
}
.bio-intro h2 {
  font-size: var(--fs-3);
  font-weight: 800;
}

.profile__stack {
  display: flex;
  gap: 1rem;
}
.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0.15rem;
  border-radius: var(--radius-1);
}
.html--stack {
  border-color: var(--pry-clr);
}
.css--stack {
  border-color: var(--sec-clr);
}
.stack img {
  max-width: 100%;
  width: 20px;
  height: auto;
}
.stack p {
  font-weight: 600;
}

.about-wrapper {
  display: grid;
  gap: 0.5rem;
}
.profile__about {
  background-color: #fcffdf;
  padding: var(--space-1) var(--radius-2);
  border-radius: var(--radius-2);
}
.profile__skills {
  background-color: #f3f1ff;
  border-radius: var(--radius-2);
  padding: var(--space-1) var(--radius-2);
}
.profile__skills ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile__skills ul li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}
.about-wrapper h3 {
  background-color: #fffffc;
  display: inline-block;
  padding: 0 var(--space-1);
  border-radius: var(--radius-1);
  color: var(--pry-clr);
}
.about-wrapper li {
  font-weight: 500;
}

.profile__cta {
  display: flex;
  gap: var(--space-3);
}
.btn {
  padding: var(--space-1);
  border-radius: var(--radius-1);
  font-weight: 600;
  transition: background 300ms ease;
}
.cta-m {
  background: var(--pry-clr);
  color: var(--light-clr);
}
.cta-m:hover {
  background: var(--pry-clr-fade);
}
.cta-s {
  background: var(--sec-clr);
  color: var(--dark-clr);
}
.cta-s:hover {
  background: var(--sec-clr-fade);
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-1) 0;
}