@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Sono:wght,MONO@200..800,1&display=swap');
:root {
  /* spacing (base 8) */
  --space-1: 0.3rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --space-7: 4rem;
  
  /* font-size (base 4) */
  --fs-1: 0.8rem;
  --fs-2: 1rem;
  --fs-3: 1.3rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
  --fs-6: 3rem;

  /* radius (base 8) */
  --radius-1: 0.5rem;
  --radius-2: 1rem;
  --radius-3: 1.5rem;
  --radius-4: 2rem;
  --radius-5: 3rem;

  --pry-clr: #1908ba;
  --pry-clr-fade: #331ef3;

  --sec-clr: #a9ba08;
  --sec-clr-fade: #D5EB0A;

  --light-clr: #f3f3f3;
  --dark-clr: #181818;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body, html {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  background-color: #fffffc;
  color: #333;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Anybody", sans-serif;
}
p, li, span {
  font-family: "Epilogue", sans-serif;
}
a, button {
  font-family: "Sono", monospace;
  font-variation-settings: "MONO" 1;
}
.web-container {
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
}
.main-inner {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 clamp(0.5rem, -0.919rem + 8.11vw, 2rem);
}
.site-header {
  border-bottom: 1px solid lightgrey;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.1rem, -0.095rem + 1.11vw, 0.3rem) clamp(0.5rem, -0.476rem + 5.57vw, 1.5rem);
}
.logo-cont a {
  font-size: clamp(1.2rem, 0.907rem + 1.67vw, 1.5rem);
  font-weight: 600;
  color: var(--pry-clr);
}
button.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.bar {
  width: clamp(1.563rem, 0.953rem + 3.48vw, 2.188rem);
  height: clamp(0.188rem, 0.066rem + 0.7vw, 0.313rem);
  background-color: var(--pry-clr);
  border-radius: clamp(0.5rem, 0.012rem + 2.79vw, 1rem);
}
.nav-desktop {
  display: none;
}

.profile-cont {
  display: grid;
  gap: clamp(0.5rem, 0.012rem + 2.79vw, 1rem);
}
.profile__avatar {
  box-shadow: 2px 2px 5px var(--sec-clr-fade), -2px -2px 5px var(--pry-clr-fade), 0 0 10px #494949;
  position: relative;
  display: flex;
  max-width: 100%;
  height: clamp(10rem, 6.037rem + 22.65vw, 14.063rem);
  background: var(--pry-clr);
  overflow: hidden;
  border-radius: clamp(0.313rem, 0.008rem + 1.74vw, 0.625rem) clamp(0.313rem, 0.008rem + 1.74vw, 0.625rem) clamp(1.563rem, 0.038rem + 8.71vw, 3.125rem) clamp(1.563rem, 0.038rem + 8.71vw, 3.125rem);
}
.profile__avatar div {
  position: absolute;
  color: var(--light-clr);
}
.followers {
  background: var(--sec-clr);
  border: 1px solid lightgray;
  box-shadow: 0 0 30px var(--sec-clr);
  border-radius: clamp(0.8rem, 0.232rem + 3.24vw, 1.4rem);
  padding: clamp(0.25rem, 0.014rem + 1.35vw, 0.5rem);
  font-size: clamp(1.3rem, 0.165rem + 6.49vw, 2.5rem);
  right: clamp(5rem, -0.676rem + 32.43vw, 11rem);
  top: clamp(2.5rem, 2.027rem + 2.7vw, 3rem);
  transform: rotate(-25deg);
}
.likes {
  background: var(--dark-clr);
  box-shadow: 0 0 10px var(--light-clr);
  border: 1px solid lightgray;
  border-radius: clamp(0.6rem, 0.222rem + 2.16vw, 1rem);
  padding: clamp(0.25rem, 0.014rem + 1.35vw, 0.5rem);
  font-size: clamp(0.9rem, 0.51rem + 2.23vw, 1.3rem);
  right: clamp(4rem, 0.216rem + 21.62vw, 8rem);
  bottom: clamp(1rem, 0.527rem + 2.7vw, 1.5rem);
  transform: rotate(25deg);
}
.views {
  background: orange;
  box-shadow: 0 0 20px orange;
  border: 1px solid lightgray;
  border-radius: clamp(0.7rem, 0.227rem + 2.7vw, 1.2rem);
  padding: clamp(0.25rem, 0.014rem + 1.35vw, 0.5rem);
  font-size: clamp(1.1rem, 0.71rem + 2.23vw, 1.5rem);
  right: clamp(0rem, -1.892rem + 10.81vw, 2rem);
  bottom: clamp(4rem, 2.108rem + 10.81vw, 6rem);
  transform: rotate(-45deg);
}
.profile__avatar img {
  width: 100%;
  max-width: clamp(6.25rem, 1.982rem + 24.39vw, 10.625rem);
  height: auto;
  object-fit: cover;
}
.profile__bio {
  display: flex;
  flex-direction: column;
  gap: clamp(0.7rem, 0.407rem + 1.67vw, 1rem);
  padding: 0 clamp(0.5rem, 0.012rem + 2.79vw, 1rem);
}
.bio-intro {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 1.2;
  background-color: #f3f3f3;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.bio-intro::before {
  position: absolute;
  content: "";
  width: clamp(0.188rem, 0.066rem + 0.7vw, 0.313rem);
  height: 100%;
  left: -0.625rem;
  border-radius: 20px;
  background-color: var(--pry-clr);
}
.bio-intro h1 {
  font-size: clamp(1.8rem, 1.611rem + 1.08vw, 2rem);
  font-weight: 700;
}
.bio-intro h2 {
  font-size: clamp(0.7rem, 0.132rem + 3.24vw, 1.3rem);
  font-weight: 800;
}

.profile__stack {
  display: flex;
  gap: clamp(0.2rem, -0.58rem + 4.46vw, 1rem);
}
.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0.15rem;
  border-radius: clamp(0.3rem, 0.105rem + 1.11vw, 0.5rem);
  font-size: clamp(0.7rem, 0.407rem + 1.67vw, 1rem);
}
.html--stack {
  border-color: var(--pry-clr);
}
.css--stack {
  border-color: var(--sec-clr);
}
.stack img {
  max-width: 100%;
  width: clamp(0.813rem, 0.691rem + 0.7vw, 0.938rem);
  height: auto;
}
.stack p {
  font-weight: 600;
}

.about-wrapper {
  display: grid;
  gap: clamp(0.25rem, 0.006rem + 1.39vw, 0.5rem);
}
.profile__about {
  background-color: #fcffdf;
  padding: clamp(0.1rem, -0.095rem + 1.11vw, 0.3rem) clamp(0.3rem, 0.105rem + 1.11vw, 0.5rem);
  border-radius: clamp(0.5rem, 0.012rem + 2.79vw, 1rem);
}
.profile__skills {
  background-color: #f3f1ff;
  padding: clamp(0.1rem, -0.095rem + 1.11vw, 0.3rem) clamp(0.3rem, 0.105rem + 1.11vw, 0.5rem);
  border-radius: clamp(0.5rem, 0.012rem + 2.79vw, 1rem);
}
.profile__skills ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile__skills ul li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}
.about-wrapper h3 {
  font-size: clamp(0.938rem, 0.755rem + 1.05vw, 1.125rem);
  background-color: #fffffc;
  display: inline-block;
  padding: 0 var(--space-1);
  border-radius: var(--radius-1);
  color: var(--pry-clr);
}
.about-wrapper p,
.about-wrapper li {
  font-size: clamp(0.8rem, 0.605rem + 1.11vw, 1rem);
}
.about-wrapper li {
  font-weight: 500;
}

.profile__cta {
  display: flex;
  gap: clamp(0.25rem, -0.482rem + 4.18vw, 1rem);
}
.btn {
  padding: clamp(0.1rem, -0.095rem + 1.11vw, 0.3rem) clamp(0.3rem, 0.105rem + 1.11vw, 0.5rem);
  border-radius: clamp(0.25rem, 0.006rem + 1.39vw, 0.5rem);
  font-size: clamp(0.8rem, 0.605rem + 1.11vw, 1rem);
  font-weight: 600;
  transition: background 300ms ease;
}
.cta-m {
  background: var(--pry-clr);
  color: var(--light-clr);
}
.cta-m:hover {
  background: var(--pry-clr-fade);
}
.cta-s {
  background: var(--sec-clr);
  color: var(--dark-clr);
}
.cta-s:hover {
  background: var(--sec-clr-fade);
}
.site-footer {
  background: #212a37;
  color: #fff;
}
.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-1) 0;
}
.footer-inner p {
  font-size: clamp(0.7rem, 0.407rem + 1.67vw, 1rem);
}


@media screen and (min-width: 577px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: block;
  }
  .nav-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-desktop ul {
    list-style: none;
    display: flex;
  }
  .nav-desktop ul li a {
    display: inline-block;
    font-weight: 500;
    color: #000;
    position: relative;
  }
  .bio-intro {
    line-height: 1.4;
  }
  .about-wrapper {
    grid-template-columns: 2fr 1fr;
  }
}


@media screen and (min-width: 577px) and (max-width: 768px) {
  .main-inner {
    padding: 0 clamp(2rem, -10.084rem + 33.51vw, 6rem);
  }
  .header-inner,
  .footer-inner {
    padding: clamp(0.3rem, -0.908rem + 3.35vw, 0.7rem) clamp(2rem, -4.042rem + 16.75vw, 4rem);
  }
  .nav-desktop,
  .nav-desktop ul {
    gap: clamp(1.8rem, 1.196rem + 1.68vw, 2rem);
  }
  .nav-desktop ul li a {
    font-size: clamp(0.8rem, 0.498rem + 0.84vw, 0.9rem);
  }
  .profile-cont {
    gap: clamp(1rem, -2.021rem + 8.38vw, 2rem);
  }
  .followers {
    right: clamp(11rem, 1.937rem + 25.13vw, 14rem);
    top: clamp(2.5rem, 2.027rem + 2.7vw, 3rem);
  }
  .likes {
    right: clamp(8rem, 1.958rem + 16.75vw, 10rem);
    bottom: clamp(1rem, 0.527rem + 2.7vw, 1.5rem);
  }
  .views {
    right: clamp(2rem, -2.531rem + 12.57vw, 3.5rem);
    bottom: clamp(4rem, 2.108rem + 10.81vw, 6rem);
  }
  .profile__avatar img {
    max-width: clamp(10.625rem, 7.604rem + 8.38vw, 11.625rem);
  }
  .bio-intro h1 {
    font-size: clamp(2rem, 0.49rem + 4.19vw, 2.5rem);
  }
  .bio-intro h2 {
    font-size: clamp(1.3rem, 0.696rem + 1.68vw, 1.5rem);
  }
}


@media screen and (min-width: 769px) {
  .main-inner {
    padding: 0 6rem;
  }
  .header-inner,
  .footer-inner {
    padding: 0.7rem 4rem;
  }
  .nav-desktop,
  .nav-desktop ul {
    gap: 2rem;
  }
  .nav-desktop ul li a {
    font-size: 0.9rem;
  }
  .profile-cont {
    gap: 2rem;
  }
  /* .followers {
    right: clamp(11rem, 1.937rem + 25.13vw, 14rem);
    top: clamp(2.5rem, 2.027rem + 2.7vw, 3rem);
  }
  .likes {
    right: clamp(8rem, 1.958rem + 16.75vw, 10rem);
    bottom: clamp(1rem, 0.527rem + 2.7vw, 1.5rem);
  }
  .views {
    right: clamp(2rem, -2.531rem + 12.57vw, 3.5rem);
    bottom: clamp(4rem, 2.108rem + 10.81vw, 6rem);
  } */
  .profile__avatar img {
    max-width: 11.625rem;
  }
  .bio-intro h1 {
    font-size: 2.5rem;
  }
  .bio-intro h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 834px) {
  .main-inner {
    padding: 0 4rem;
  }
  .profile-cont {
    grid-template-columns: 1fr 2fr;
    gap: 0.25rem;
  }
  .followers {
    border-radius: clamp(0.8rem, 0.232rem + 3.24vw, 1.4rem);
    padding: clamp(0.25rem, 0.014rem + 1.35vw, 0.5rem);
    font-size: 1.9rem;
    right: 6rem;
    top: 7rem;
    transform: rotate(25deg);
  }
  .likes {
    border-radius: clamp(0.6rem, 0.222rem + 2.16vw, 1rem);
    padding: clamp(0.25rem, 0.014rem + 1.35vw, 0.5rem);
    font-size: 1rem;
    right: 9rem;
    bottom: 85%;
    transform: rotate(-15deg);
  }
  .views {
    font-size: clamp(1.1rem, 0.71rem + 2.23vw, 1.5rem);
    right: 1rem;
    bottom: 24rem;
    transform: rotate(-45deg);
  }
  .profile__avatar {
    height: 100%;
    border-radius: 50px 15px 50px 15px;
  }
  .profile__avatar img {
    max-width: 15rem;
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 834px) and (max-width: 1200px) {
}


